# Go build artifacts
*.test
*.out

# Frontend build tools / caches
frontend/node_modules/
frontend/.vite/

# Debug logs
npm-debug.log*
yarn-error.log*

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.idea/
.vscode/
